@import './variables';

* {
  color: $font-color-primary;
}

.list-container {
  position: relative;
  display: inline-flex;
  width: $container-width;
  padding: 1rem;
  border: 2px solid $font-color-primary;
  margin-top: 3rem;
  box-shadow: $box-shadow;


  li {
    .edit-button {
      width: 0;
      overflow: hidden;
      transition: 150ms;
      position: absolute;
      right: 2rem;
      padding-top: 5px;
      font-size: 1.5rem;
    }

    .name {
      width: $container-width - 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      transition: 100ms;
      &.active {
        font-weight: 600;
      }
      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover {
      .edit-button{
        width: 1.6rem;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &.add-button:hover {
      transition: 150ms;
      transform: scale(1.3);
    }
  }


  &.category-list {
    z-index: 2;
    margin-left: 2rem;
    min-height: 40vh;
    border-radius: $border-radius;
    background-color: white;

  }

  &.card-list {
    z-index: 1;
    transition: 300ms;
    border-left: none;

    left: -18rem;
    width: 15rem;;

    top: 1rem;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    
    &.show {
      left: 0;
      width: $container-width;
    }
  }

  ul {
    width: 100%;
    padding: 1rem;
    li {
      list-style-type: none;
      font-size: 2rem;
      cursor: pointer;
      text-align: center;
    }
  }
}

.card-container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 4rem;
  left: 1rem;

  border: 2px solid $font-color-primary;
  border-radius: $border-radius;
  width: 800px;
  padding: 2rem;

  box-shadow: $box-shadow;
  
  .card-name {
    display: inline-block;
    font-size: 2.5rem;
    align-self: center;
  }

  label {
    padding: 1rem 1rem 0 1rem;
    font-style: italic;
  }
}

.cancel-confirm {
  display: inline-block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;

  svg:hover {
    transition: 200ms;
    transform: scale(1.3);
  }

  &.show {
    width: 3rem;
  }
}
