@import './variables';

* {
  color: $font-color-primary;
}

.list-container {
  position: relative;
  display: inline-flex;
  width: $container-width;
  padding: 1rem;
  border: 2px solid $font-color-primary;
  margin-top: 3rem;
  box-shadow: $box-shadow;


  li {
    .edit-button {
      width: 0;
      overflow: hidden;
      transition: $transition-button;
      position: absolute;
      right: 2rem;
      padding-top: 5px;
      font-size: 1.5rem;
    }

    .name {
      width: $container-width - 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      transition: $transition-fast;
      &.active {
        font-weight: 600;
      }
      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover {
      .edit-button{
        width: 1.6rem;
        &:hover {
          transform: $transform-button;
        }
      }
    }

    &.add-button:hover {
      transition: $transition-button;
      transform: $transform-button;
    }
  }


  &.category-list {
    z-index: 2;
    margin-left: 2rem;
    min-height: 40vh;
    border-radius: $border-radius;
    background-color: white;

  }

  &.card-list {
    z-index: 1;
    transition: $transition-regular ease-out;
    border-left: none;

    left: -18rem;
    width: 15rem;;

    top: 1rem;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    
    &.show {
      left: 0;
      width: $container-width;
    }
  }

  ul {
    width: 100%;
    padding: 1rem;
    li {
      list-style-type: none;
      font-size: 2rem;
      cursor: pointer;
      text-align: center;
    }
  }
}

.card-container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 4rem;
  left: 1rem;

  border: 2px solid $font-color-primary;
  border-radius: $border-radius;
  width: 800px;
  padding: 2rem 1rem 2rem 2rem;

  box-shadow: $box-shadow;

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  label {
    padding: 1rem 1rem 0 1rem;
    font-style: italic;
  }
  
  .card-name {
    display: inline-block;
    width: 90%;
    text-align: center;
    cursor: text;
    font-size: 2.5rem;
    align-self: center;
    transition: $transition-slow;

    &:not(.focus):hover {
      box-shadow: 0 0 10px $gray-medium;
    }
  }

  .focus {
    // border: 2px solid $gray-medium;
    border-radius: $border-radius;
    box-shadow: 0 0 10px $gray-dark;
    &:focus {
      outline-color: $gray-dark;
    }
  }
}

.cancel-confirm {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  visibility: hidden;

  opacity: 0;
  transition: opacity $transition-slow;

  .button {
    margin-left: 0.5rem;
  }

  svg:hover {
    transition: $transition-button;
    transform: $transform-button;
  }

  &.show {
    visibility: visible;
    opacity: 1;
    transition: opacity $transition-slow;
  }
}
