@import './variables';

* {
  color: $font-color-primary;
}

.list-container {
  position: relative;
  display: inline-flex;
  width: 300px;
  padding: 1rem;
  border: 2px solid $font-color-primary;
  margin-top: 3rem;
  box-shadow: $box-shadow;

  svg {
    &:hover {
      transform: scale(1.2);
      transition: 100ms;
    }
  }

  li {
    transition: 100ms;
    &.active {
      font-weight: 600;
    }
    &:hover {
      transform: scale(1.1);
    }
  }


  &.category-list {
    z-index: 2;
    margin-left: 2rem;
    min-height: 40vh;
    border-radius: $border-radius;
    background-color: white;

  }

  &.card-list {
    z-index: 1;
    transition: 300ms;
    border-left: none;

    left: -18rem;
    width: 15rem;;

    top: 1rem;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    
    &.show {
      left: 0;
      width: 300px;
    }
  }

  ul {
    width: 100%;
    padding: 1rem;
    li {
      list-style-type: none;
      font-size: 2rem;
      cursor: pointer;
      text-align: center;
    }
  }
}

.card-container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 4rem;
  left: 1rem;

  border: 2px solid $font-color-primary;
  border-radius: $border-radius;
  width: 800px;
  padding: 2rem;

  box-shadow: $box-shadow;
  
  .card-name {
    font-size: 2.5rem;
    align-self: center;
  }

  label {
    padding: 1rem 1rem 0 1rem;
    font-style: italic;
  }
}
