$gray-dark: #303030;
$gray-medium: #707070;
$gray-light: #DCDCDC;


$font-color-primary: $gray-dark;
$border-radius: 5px;
$box-shadow: 2px 2px $gray-medium;

$container-width: 350px;

$transition-fast: 100ms;
$transition-regular: 300ms;
$transition-slow: 500ms;

$transition-button: $transition-fast;
$transform-button: scale(1.3);