$font-color-primary: #303030;
$border-radius: 5px;
$box-shadow: 2px 2px #707070;

$container-width: 350px;

$transition-fast: 100ms;
$transition-regular: 300ms;

$transition-button: $transition-fast;
$transform-button: scale(1.3);